/* style.scss */

/* Reset + base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fafafa;
  color: #333;
}


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: #797a7e;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  box-shadow: 10px 10px 1px 0px green;
  height: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .logo {
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  color: #2c93f9;
}

.header .user-info {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 17px;
}

.header .user-info button {
  padding: 10px 14px;
  font-size: 12px;
  background: #2c93f9;
  color: #fff;
  border-radius: 7px;
  border: none;
}



.content {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #fefeff;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: fixed;

  left: 0;
  height: 100vh;
  overflow-y: auto;
}



.sidebar ul li {
  margin: 10px 0;
}

.sidebar a {
  color: #252525;
  text-decoration: none;
  padding: 14px 60px;
  display: block;
  font-size: 15px;


  transition: 0.3s;

}

.sidebar a.active {
  background: #2c93f9;
  color: #fff;
  border-radius: 8px;
  margin: 4px;
}

.sidebar a:hover {
  background: #2c92f920;
  color: #252525;
  border-radius: 8px;
  margin: 4px;

}


.page-body {
  flex: 1;
  padding: 20px;
  background: #fafafa;
  margin-left: 220px;

}

.page-body p {
  color: rgb(107, 114, 128);
}



.footer {
  background: #1e293b;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.card-grid {
  justify-content: center;
  gap: 25px;
  height: 35rem;
  margin-top: 40px;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.card-grid a {
  text-decoration: none;
}

.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.03);
    outline: none;
  }

  .card-body h3 {
    background: #2c93f9;
    padding: 16px 3px;
    border-radius: 60px;
    border: 19px solid #fff;
    margin-top: -56px;
    color: #fff;
  }

    img {
      object-fit: cover;
      width: 100%;
      height: 186px;
      display: block;
      padding: 9px;
      padding: 43px;
      background: #2c93f9;
    }

  .card-body {
    padding: 20px;
    flex: 1;
    text-align: center;
  }
}